@*@model ArmadilloFarmModel*@
@model List<ArmadilloModel>
<form asp-controller="Armadillo" asp-action="BulkEdit" method="post">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Shell Hardness</td>
                <td>Is Painted</td>
                <td>Homeland</td>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var armadillo in Model)
            {
                <partial name="_ArmadilloEditPartial" for="@armadillo" />
            }*@
            @for (int i = 0; i < Model.Count; i++)
            {
                @*<partial name="_ArmadilloEditPartial" for="ToArray()[i]" />*@
                <partial name="_ArmadilloEditPartial" for="@Model[i]" />
            }
        </tbody>
    </table>
    
    <button type="submit">Save</button>
</form>
