@using CST465_Armadillo
@model ArmadilloFarm


<h1>My Farm</h1>
<a href="@Url.Action("TagHelperCreate", "Armadillo")" class="btn btn-primary"><i class="fas fa-user-plus"></i> Add an Armadillo</a>
<div class="row">
    <div class="col-sm-6">
        <h2>Painted Armadillos</h2>
        <partial name="ArmadilloList" model="Model.FarmAnimals.Where(a => a.IsPainted)" />
        
    </div>
    <div class="col-sm-6">

        <h2>Unpainted Armadillos</h2>
        <partial name="ArmadilloList" model="Model.FarmAnimals.Where(a => !a.IsPainted)" />
    </div>

</div>

@section Sidebar{
    <partial name="_FeaturedArmadillo" for="FeaturedArmadillo" />
}
@section Scripts{ 
    <script>
        $(document).ready(function(){
        });
    </script>
}
