@using CST465_Armadillo

<div>
    <h2>Farm Settings</h2>
    @{ FarmSettings settings = ViewBag.FarmSettings;}
    Max Animals: @settings.MaxAnimals
    <br />
    Max per Homeland: @settings.MaxPerHomeland
</div>