@model  ArmadilloModel

@Html.DisplayFor(m => m.Name)
@Html.Raw(Model.Description)
<div>
    <span>Shell Hardness</span>
    @Html.DisplayFor(m => m.ShellHardness)
</div>
<div id="secret">
    <strong>Armadillo Secret Key</strong>
    k3lsdkdfj3
</div>