html, body{
    background-color: #cdcdcd;
}
.mainbody{
    background-color: #fff;
    padding: 10px;
}

.input-validation-error {
    background-color: pink !important;
}
.age.form-control {
    width: 75px;
}
footer{
    color: white;
    padding:15px;
}